body{
    /* 画面中央寄せ(左右) */
    display: block;
    margin-left: auto;
    margin-right: auto;

    text-align:center;
    justify-content: center;
    font-size: 16px;
    max-width:600px;
  }

header{
    text-align:center;
    justify-content: center;
    font-size: 30px;
    font-weight: bold;
    padding: 30px 0 30px 0;
    border-bottom: solid 1px #00947a;
}

main{
    width:100%;
    margin: 0 auto;
    justify-content: center;
    text-align: center;
    /* display: block; */
    /* position:relative; */
}

.form_style{
    padding: 30px 0 30px 0;
    border-top: #00947a 1px solid;
}

/* メッセージ表示(Output) ---firebaseからデータ取得した分 */
#incomplete{
    font-size: 20px;
    font-weight: bold;
}

#output{
    /* margin: 0 auto; */
    border-bottom: solid 1px #00947a;
    line-height: 20px;
}
.msg-text{
    font-size: 12px;
    line-height: 20px;
    width: 400px;
    height: 120px;
    margin: 10px 100px 0 100px;
    padding: 10px 10px 10px 10px;
    text-align: left;
    background-color: #f0f8ff;
    border-radius: 10px;
    border-top: #d3d3d3 1px solid;
    border-bottom: #d3d3d3 1px solid;
    box-sizing:border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.msg{
    /* justify-content: center; */
    text-align: center;
    padding: 30px 0 30px 0;
}


/* 名前 */

/* メッセージ入力 */
#form{
    margin: 30px 0 20px 0;
}
#text{
    width: 400px;
    height: 200px;
    line-height: 20px;
    margin: 0 100px 20px 100px;
    padding: 10px 10px 10px 10px;
    border-radius: 10px;
    border: #d3d3d3 1px solid;
    box-sizing:border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

/* 送信ボタン */
#send{
    padding: 5px 10px 5px 10px;
    margin: 0 0 30px 300px;
    color: #fff;
    background-color: #eb6100;
    border-radius: 15px;
}
.icon_position{
    margin: 15px 0 15px 270px;
}
#completeicon{
    padding: 5px 10px 5px 10px;
    color: #fff;
    background-color: #eb6100;
    border-radius: 15px;
}
#trashicon{
    padding: 5px 10px 5px 10px;
    color: #fff;
    background-color: #eb6100;
    border-radius: 15px;
}

/* 削除ボタン */
#delete{
    margin: 0 0 20px 0;
    color: #fff;
    background-color: #eb6100;
    border-radius: 100vh;
}

/* 時刻表示 */

/* いいね */